@font-face{font-family:bnaz;src: url("../fonts/static/Roboto-Regular.ttf");
    margin: 0% auto;}
    @font-face{font-family:bnazitalic;src: url("../fonts/static/Roboto_Condensed-Italic.ttf");}
    @font-face{font-family:boldedde;src: url("../fonts/static/Bitter-Bold.ttf");}
    *{margin: 0px; font-family:bnaz ;}
    body {background-color: white;}
    

#beforeloading{height:100%;width: 100%;display: flex;text-align: center;align-items: center;justify-content: center;
height: 100%;}

#waitloading1{transform: rotate(45deg);
width: 100px;
height: 100px;
  border-radius: 50% 50%;
  background:linear-gradient(to right,rgb(10, 243, 208),rgb(243, 248, 251));
  position: relative;
  margin-top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
animation: spin 2s linear infinite;
}
#waitloading2{transform: rotate(45deg);
width: 95px;
height: 95px;
  border-radius: 50% 50%;
  background-color: white;
  position: relative;

  
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


    #afterloading{display: none;}


    a{color:black; text-decoration:none;background-color:rgb(rgba(255, 0, 0, 0), rgba(0, 128, 0, 0), rgba(0, 0, 255, 0));}
    body{margin:0px;}  
        h1{text-align: right ;margin:0px;align-items: flex-end; }
        nav{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr 1fr  4fr; color:rgb(46, 43, 43) ;padding-top:5px ;font-size:20px ;
        direction: rtl;background-color: rgb(255, 255, 255);}
        nav div{ display: flexbox; gap:5px;margin:5px ;text-align: center;cursor: pointer ;border-radius: 2%; text-align: center;}
        nav div a{justify-items: center;align-items: center;text-align: center;padding-top: 3%;}
        nav div:hover{ background-color: rgb(121, 121, 137);padding: auto auto;animation: coloringgray 2s;}
        nav div a:hover{color: rgb(44, 44, 39);}
        nav div a:active{color: rgb(180, 44, 143);}
        .navbuttom{height: 100%;width: 100%;}
       .search_item{display: none;}
       .language{background-color:rgb(97, 129, 188);
        cursor: pointer;text-align:center;}
        .navbuttom{border-radius: 6px;}



        #mainnavcontiner{ box-shadow: 3px 3px rgb(20, 227, 227);} 
        #toplogo{height:130px ;animation: appearlogo 2s;}
        @keyframes  appearlogo{from{padding-left: 10%;}
        to{padding-left: 5px;}    
        }         
    
        
        #maintitle{font-size: 50px;animation: appeartitle 2.5s;}
        @keyframes  appeartitle{from{padding-left: 30%;color: rgba(240, 248, 255, 0.29);}
        to{padding-left: 0px;color: rgb(31, 52, 142);}    
        } 

        





        #menupage{overflow:scroll;border-radius: 5%;animation: imerge 0.3s;}
#menupage div{border-bottom: 1px solid rgb(237, 235, 235) ;padding: 5%;cursor: pointer;animation: imerge2 2s;}
#menupage a{color: white;}
#menupage div:hover{background-color: rgb(99, 255, 47);animation: coloring 1s;}    
  
@keyframes coloring{from{background-color:rgba(255, 255, 255, 0);}
to{background-color:  rgb(99, 255, 47);}    
} 

@keyframes imerge{from{width: 0%;}
to{width: 70%;}    
} 
@keyframes imerge2{from{width: 0%;}
to{width: 100%;}    
} 
@keyframes coloringgray{from{background-color:rgb(255, 255, 255);}
to{background-color:   rgb(121, 121, 137);}    
} 










 /* Basic styling for the button */
    .nav-button {
      background-color: white;
     
      margin-right: 2px;
      color: rgb(46, 46, 126);
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      position: relative;
    }

    .nav-button:hover{
      background: linear-gradient(to left,rgb(34, 183, 206),rgb(15, 93, 196));;
      color: white;
      animation: appearmenuebutt 0.65s  ;
    }

    /* Dropdown menu container */
    .dropdown-menu {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      
      
    }

    /* Dropdown menu items */
    .dropdown-menu a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      background-color: #f9f9f9;
      
    }

    /* Hover effect for menu items */
    .dropdown-menu a:hover {
     background: linear-gradient(to left,rgb(34, 183, 206),rgb(15, 93, 196));;
      color: white;
      animation: appearmenuebutt 0.65s  ;
      
    }

    /* Show the dro/pdown menu on hover */
    .nav-button:hover .dropdown-menu {
      display: block;
    }











@keyframes appearmenuebutt{

  from{ color: rgb(46, 46, 126);filter: blur(0px) brightness(6);}
   to{ color: white;filter: blur(0px) brightness(1);}
    
}







main{background:linear-gradient(to bottom right ,white,rgb(251, 249, 249));padding-bottom:2% ;min-height: 600px;padding: 10% 20% 20% 20%;}
   
p{padding: 8px;}


       
    #blurerfoot{position: absolute;bottom: 0%;width: 100%;position: fixed;z-index: -3;height: 600px;background-color: rgba(33, 115, 230, 0.5);}
    
    footer{text-align: center;border-top:solid 3px ;display: grid ;grid-template-columns:repeat(auto-fit,minmax(400px,1fr));margin:0px ;color: aliceblue;
    }
    footer div{ text-align: center;z-index: -1;}
    footer div p{padding:8px ;}
    footer div{ height:250px ;} 
   
    
    
    @media screen and (max-width:910px){nav{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;}  .minimmm{display: block;} #minimenue{display: none;} }

    @media screen and (max-width:3000px){nav{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;} nav div{height: 45px; display: grid;place-content:center ;}  #mini_menue{ background-color: blue; }
     .minimmm{display: block;} #minimenue{display: none;} }
    
    @media screen and (max-width:560px){nav{position: fixed;} #corpname{display: none; }    .minimmm{display: block;} .overnav{display: none;} 
    main{margin-top:0px;padding-top: 100px;}  #mainnavcontiner{position: fixed;}  
  .navbuttom{display: none;} footer{display: block; width: 100%;} section  li{font-size: 95%;} section  div{font-size: 76%;}
#parta{display: grid ;grid-template-columns:repeat(auto-fit,minmax(280px,1fr));} #minimenue{display: block;} .partb div{font-size: 13px;}
footer div{ height:200px ;margin-bottom: 30px;}   #backwebimage{width: 100%;height:27%;margin-bottom: 40px;}
#blurerfoot{ height:300px ;} #removeonphone{display: none;}
#toplogo{height:60px ;} #maintitle{font-size: 25px;} main{padding: 3% 3% 3% 3%;}
.nav-button{display: none;} #navborder{display: none;}   .dropdown-menu{display: none;}}

@media screen and (max-width:340px){  #parta{padding:auto}  #tableofpositions div div{width: 100%;} 
.partb{width:100%;} #tableofpositions{width:100%;} .noneimportant{width:78%} .noneimportant2{width:83% ;} }
    